
<mat-nav-list>
    <div class="logo py-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQw3NwiHaX91SYP1P4URR1uXTszW1eiWN0TQ&usqp=CAU" alt="Company Logo" height="50px" width="250px" />
    </div>
    <mat-divider></mat-divider>
    <h1 matSubheader class="mt-2" style="font-size: large;"><b><u>APPLICATIONS</u></b></h1>
  
    <a mat-list-item style="font-size: medium;" routerLinkActive="list-item-active" routerLink="/viewallcourse">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item style="font-size: medium;" routerLinkActive="list-item-active" routerLink="/udpages">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
  </mat-nav-list>