<form [formGroup]="companyService.usersForm" class="normal-form" (submit)="registerUser()" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
  
      <label for="userName"><b>User Name</b></label>
      <input formControlName="userName" type="text" placeholder="Choose a UserName" name="userName" required>

      <label for="firstName"><b>First Name</b></label>
      <input formControlName="firstName" type="text" placeholder="Enter your First Name" name="firstName" required>

      <label for="lastName"><b>Last Name</b></label>
      <input formControlName="lastName" type="text" placeholder="Enter your Last Name" name="lastName" required>
  
      <label for="password"><b>Password</b></label>
      <input formControlName="password" type="password" placeholder="Enter Password" name="password" required>
  
      <label for="pswrepeat"><b>Repeat Password</b></label>
      <input formControlName="pswrepeat" type="password" placeholder="Repeat Password" name="pswrepeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
